@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden {
  display: none;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
}

button {
  margin: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #2980b9;
}

.forecast-card {
  border: 1px solid #999797;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background: #cccbcb;
}
